<ul>
  <li>
    <%= link_to 'Станции', admin_railway_stations_path %>
  </li>
  <li>
    <%= link_to 'Поезда', admin_trains_path %>
  </li>
  <li>
    <%= link_to 'Маршруты', admin_routes_path %>
  </li>
  <li>
    <%= link_to 'Билеты', admin_tickets_path %>
  </li>
</ul>