<h1> Купленные билеты: </h1>

<table>
  <thead>
  <tr>
    <th>Номер билета</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= link_to t('common.show'), ticket %></td>
        <td><%= link_to t('common.edit'), edit_ticket_path(rticket) %></td>
        <td><%= link_to t('common.delete'), ticket, method: :delete, data: { confirm: t('common.sure') } %></td>
      </tr>
  <% end %>
  </tbody>
</table>