<h1> Билет </h1>

<p>
  <strong>Билет купил:</strong>
  <%= @ticket.user.email %>
</p>

<p>
  <strong> поезд №: </strong>
  <%= @ticket.train.number %>
</p>

<p>
  <strong> ФИО: </strong>
  <%= @ticket.passenger_name %>
</p>
