<tr>
  <td><%= wagon.id %></td>
  <td><%= link_to 'Показать', wagon %></td>
  <td><%= link_to 'Редактировать', edit_wagon_path(wagon) %></td>
  <td><%= link_to 'Удалить', wagon, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
</tr>