<p id="notice"><%= notice %></p>

<h1>Вагоны</h1>

<table>
  <thead>
  <tr>
    <th>Вагоны</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @wagons %>
  </tbody>
</table>

<br>

<%= link_to 'Новый вагон', new_wagon_path %>